# Dependencies and Rust build outputs
node_modules/
src-tauri/target/
src-tauri/gen/
release/

# Packages
*.AppImage
*.deb
*.rpm
*.snap
*.exe
*.dmg

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS Metadata
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
