[Desktop Entry]
Name=xTiles
Comment=Unofficial xTiles desktop application
Exec=xtiles-snap
Icon=xtiles-snap
Type=Application
Categories=Utility;Office;
StartupWMClass=xtiles-snap
StartupNotify=true
